
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<section class="section recent-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="product-card">
                        <div class="product-media">
                            <img src="@Url.Content("~/wwwroot/Client/images/category" + item.HinhAnh)"
                                 alt="product" width:100% height:150px class="img-responsive center-block" />
                        </div>
                        <div class="product-content">
                            <h6 class="product-name">
                                <a href="@Url.Action("Detail", "SanPham", new { id = item.MaSP })">@item.TenSP</a>
                            </h6>
                            <h6 class="product-price">
                                <span class="hdk-price">@string.Format("{0:#,##}", item.GiaBan) vnđ</span>
                            </h6>
                            <button class="product-add" onclick="addToCart(@item.MaSP, @item.SoLuongCo)" title="Thêm vào giỏ">
                                <i class="fas fa-shopping-basket"></i><span>Thêm vào giỏ hàng</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                   @* @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
                       {
                           LiElementClasses = new string[] { "page-item", "page-link" }
                       })*@
                </div>
            </div>
        </div>
    </div>

</section>

